<footer class="page-footer font-small bg-success pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul>
                    <li class="nav item">
                        <h4 class="text-light">Baixe o App aqui:</h4>
                    </li>
                </ul>
            </div>

            <div class="col-md-12 d-flex justify-content-center">
                <ul>
                    <li class="nav item">
                        <div class="row d-flex justify-content-center centralizar">
                            <div class="col-md-6">
                                <a routerLink="/TBD">
                                    <img class="iconSize" src="../../assets/img/googlePlay.png" alt="Google play badge">
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a routerLink="/TBD">
                                    <img class="iconSize" src="../../assets/img/appleStore.png" alt="App store badge">
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> &copy; Maracugina 2020 Copyright: </span>
        <a class="text-light" href="http://generationbrasil.online/#/login" target="_blank"></a>
    </div>
</footer>