<div class="container-fluid">

    <div class="row bg-secondary d-flex align-items-center">
        <div class="col-md-7">

            <div class="row d-flex justify-content-center mb-3">
                <div class="col-md-6 text-white">
                    <h1 class="fs">Seja bem vindo(a)!</h1>
                    <h5 class="fsh5">Compartilhe uma história!</h5>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn btn-light" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
                </div>
            </div>
        </div>


        <div class="col-md-5 d-flex justify-content-center mb-3">
            <img src="https://imgur.com/aaAP8Ti.png" alt="" width="500px" height="500px">
        </div>
    </div>

</div>

<div class="container mb-5 mt-5">

    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

            <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab"
                data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens"
                aria-selected="true">Todas as Postagens</a>

            <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-minhasPostagens-tab" data-toggle="tab"
                href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas
                Postagens</a>

            <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-pesquisa-tab" data-toggle="tab"
                href="#pesquisa" role="tab" aria-controls="nav-pesquisa" aria-selected="false">Pesquisar Postagens</a>

        </div>
    </nav>


    <div class="card">
        <div class="card-header">
          Citação
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Alguém famoso em <cite title="Título da fonte">Título da fonte</cite></footer>
          </blockquote>
        </div>
      </div>
      
</div>