<nav class="navbar navbar-expand-lg navbar-light bg-success">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
            <!---->
            <a routerLink="/TBD">
                <!---->
                <img src="../assets/img/deerLogoBgWhite.png" alt="foto de user" width="50px" height="50px"
                    class="img-fluid rounded-circle">
            </a>
            <!--<li class="nav-item pl-3">
                <a href="">
                    <p class="text-light fs-16 m-0">
                        <i class="fa fa-pencil-square-o " aria-hidden="true"></i>
                    </p>
                </a>
            </li>-->
        </ul>
        <ul class="navbar-nav d-flex align-items-center">
            <li class="nav-item">
                <a class="nav-link text-light pl-4" href="#">Página Inicial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light pl-4" href="#">Currículo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light pl-4" href="#">Sobre Nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light pl-4" href="#">Contato</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="https://scontent.fcgh8-1.fna.fbcdn.net/v/t1.6435-9/80072612_3277423442331554_3467726551494164480_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=YLzwv4mIm5wAX8e0sts&_nc_ht=scontent.fcgh8-1.fna&oh=44ddacdcdd94630416a645fe3ddc0845&oe=6149C30F"
                    alt="foto de user" width="50px" height="50px" class="img-fluid rounded-circle">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Mudar Tema</a>
                    <a class="dropdown-item" href="#">Configurações</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Sair</a><!--Icone Sair-->
                </div>
            </li>
        </ul>

    </div>
</nav>