<nav class="navbar navbar-expand-lg navbar-light bg-success">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
            <a routerLink="/home">
                <img src="../../assets/img/deerLogoWhiteBg.jpg" alt="foto de user" width="50px" height="50px"
                class="img-fluid rounded-circle" routerLink="/home">
            </a>
        </ul>
        <ul class="navbar-nav d-flex align-items-center">
            <li class="nav-item">
                <a class="nav-link text-light pl-4 fTab" routerLink="/home">Página Inicial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light pl-4 fTab" href="#sobreNosId" id="">Sobre Nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light pl-4 fTab" href="#contatoId">Contato</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-light" routerLink='/entrar'>Entrar</button>
                </div>
            </li>
            <li class="nav-item pl-3">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-light" routerLink='/cadastrar'>Cadastrar</button>
                </div>
            </li>
        </ul>
    </div>
</nav>