<div class="row d-flex justify-content-center">
    <div class="col-md-12">


            <!--Carousel-->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner mt-5 ">
                    <div class="carousel-item active">
                        <img class="d-block" width="100%" src="https://i.imgur.com/F0nNsjC.png" alt="Primeiro Slide">
                        <div class="carousel-caption d-none d-md-block ">
                            <h5 class="fontbold">Um novo você</h5>
                            <p class="fontbold">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta amet
                                itaque
                                temporibus consectetur, magni fugit rerum debitis aut quidem ea error facere velit,
                                incidunt
                                quam labore reiciendis cum. Cupiditate, at.</p>
                        </div>
                    </div>
                    <div class="carousel-item darkbackground">
                        <img class="d-block" width="100%" src="https://i.imgur.com/yPwIImn.png" alt="Segundo Slide">
                        <div class="carousel-caption d-none d-md-block  ">
                            <h5 class="fontbold ">NOVOS CAMINHOS VIRÃO</h5>
                            <p class="fontbold">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta amet
                                itaque
                                temporibus consectetur, magni fugit rerum debitis aut quidem ea error facere velit,
                                incidunt
                                quam labore reiciendis cum. Cupiditate, at.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>



    </div>
</div>

<!--Carousel-->


<!--Jumbotron-->
<div class="row d-flex justify-content-center mt-5">
    <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid jumbo">
            <div class="container text-white mb-5">
                <div class="col-md-12 d-flex justify-content-center">
                    <h1 class="display-6 d-flex justify-content-center  ">Conhecendo a Desigualdade</h1>
                </div>

                <div class="mt-5 d-flex justify-content-center d-md-inline-flex">
                    <div class="col-md-3">
                        <div class="p-4 centralizar">
                            <i class="fa fa-briefcase fIcon centralizar mb-4 text-success" aria-hidden="true"></i>
                            <p class="lead centralizar"><b>Menos de 1/5 dos presos no Brasil <br> readquirem
                                    oportunidades
                                    de emprego.</b></p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-4 centralizar">
                            <i class="fas fa-users fIcon centralizar mb-4 text-success" aria-hidden="true"></i>
                            <p class="lead centralizar"><b>População em situação de rua cresce <br> em 140% entre 2012 e
                                    2020.</b></p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-4 centralizar">
                            <i class="fa fa-line-chart fIcon centralizar mb-4 text-success" aria-hidden="true"></i>
                            <p class="lead centralizar"><b> O desemprego cresceu <br> 3% em 3 anos.<br>Aumentando a
                                    população de rua.</b></p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-4 centralizar">
                            <i class="fa fa-pie-chart fIcon centralizar mb-4 text-success" aria-hidden="true"></i>
                            <p class="lead centralizar"><b>Entre os moradores de rua temos: <br> 69,3% Negros <br>28%
                                    Brancos <br> 1,7% Indígenas <br>0,9% Amarelos</b></p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="p-4 centralizar ">
                            <i class="fa fa-people-arrows fIcon centralizar mb-4 text-success" aria-hidden="true"></i>
                            <p class="lead centralizar"><b>Faixa etária de pessoas em situação de rua: <br>50% - 31 a 49
                                    anos <br>mais de 4% - crianças</b></p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!--Texto-->

<div class="container ">

    <div class="row mt-5 mb-5 ">
        <div class="col-md-12 mb-2 ">
            <h3 id="sobreNosId" class="d-flex justify-content-center fTitulo">Sobre Nós</h3>
            <p class="centralizar mb-3 fSize">
                Somos uma instituição que promove a reintegração de pessoas em situação de rua. Buscamos reintegrar na
                sociedade a dignidade do público atendido, oferecendo um espaço virtual para redescobrimento de
                talentos. Trabalhando juntos com casas de reabilitação mantemos contato direto com cada indivíduo,
                reconhecendo seus deveres e direitos na sociedade.
            </p>
            <hr>
        </div>

        <div class="col-md-6 align-self-center ">
            <h3 class="fTitulo">Nossa causa</h3>
            <p class="fSize">
                De acordo com pesquisas realizadas pelo Instituto de Pesquisa Econômica Aplicada (Ipea), o número de
                pessoas em situação de rua no Brasil cresceu em 140% entre 2012 e março de 2020, chegando a quase 222
                mil pessoas.
            </p>
            <p class="fSize">
                Tendo em vista o crescimento exponencial de pessoas em estado de extrema pobreza vimos a necessidade de
                uma plataforma que auxilie sua reintegração no mercado de trabalho e sirva como um lugar em que possam
                compartilhar suas histórias.
            </p>
            <p class="fSize">
                Criamos uma plataforma que será utilizada principalmente por casas de reabilitação, e aproveitando sua
                proximidade com pessoas que estão passando dificuldade disponibilizamos a ferramenta para que haja meios
                de acompanhamentos de seu progresso como base para seu currículo profissional.
            </p>
        </div>

        <!--Logo-->
        <div class="col-md-6 ">
            <img src="../../assets/img/deerNoBgGreenBIG.png" alt="Logo Projeto Reintegrar" width="100%">
        </div>
    </div>
</div>



<!--Formulario-->

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h4 id="contatoId" class="text-center">
                Entre em contato conosco!
            </h4>
        </div>
    </div>

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6">

            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Assunto</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Mensagem</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <div class="form-group d-flex justify-content-end">
                    <button class="btn-outline-info">Enviar</button>

                </div>

            </form>
        </div>

        <div class="col-md-6">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.300115056855!2d-46.58207218502158!3d-23.593567384666823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5c6eff9d5d53%3A0xff6e52ce1133fbd0!2sRua%20General%20Bagnuolo%20-%20Vila%20Prudente%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2003152-130!5e0!3m2!1spt-BR!2sbr!4v1631498057445!5m2!1spt-BR!2sbr"
                height="300px" width="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>

<!--Developers-->
<div class="container mt-3 mb-5">
    <div class="row d-flex justify-content-center align-items-center d-md-inline-flex">


        <div class="col-md-2 mr-5 p-2">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front rounded-circle">
                        <img class="rounded-circle" src="https://i.imgur.com/S4cMqfv.jpg" alt="Avatar" width="250px"
                            height="250px">
                    </div>
                    <div class="flip-card-back bg-success rounded-circle p-4">
                        <h1>João Gazzara</h1>
                        <p>Desenvolvedor Java Júnior Full Stack e Tech Lead</p>
                        <i class="fab fa-github-square fSocial mr-2"></i>
                        <i class="fa fa-linkedin-square fSocial" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2 ml-5 mr-5 p-2">
            <div class="flip-card fluid rounded-circle">
                <div class="flip-card-inner">
                    <div class="flip-card-front rounded-circle">
                        <img class="rounded-circle" src="https://i.imgur.com/87sEqiP.jpg" alt="Avatar" width="250px"
                            height="250px">
                    </div>
                    <div class="flip-card-back bg-success rounded-circle p-4">
                        <h1>Caroline Lopes</h1>
                        <p>Desenvolvedora Java Júnior Full Stack e Task Manager</p>
                        <i class="fab fa-github-square fSocial mr-2"></i>
                        <i class="fa fa-linkedin-square fSocial" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2 ml-5 mr-5 p-2">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front rounded-circle">
                        <img class="rounded-circle" src="https://i.imgur.com/BSKaHSy.jpg" alt="Avatar" width="250px"
                            height="250px">
                    </div>
                    <div class="flip-card-back bg-success rounded-circle p-4">
                        <h1 class="mt-4">Enzo Kina</h1>
                        <p>Desenvolvedor Java Júnior Full Stack</p>
                        <i class="fab fa-github-square fSocial mr-2"></i>
                        <i class="fa fa-linkedin-square fSocial" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2 ml-5 p-2">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front rounded-circle">
                        <img class="rounded-circle" src="https://i.imgur.com/BPm2rGA.jpg" alt="Avatar" width="250px"
                            height="250px">
                    </div>
                    <div class="flip-card-back bg-success rounded-circle p-4">
                        <h1>Isabel Cristina</h1>
                        <p>Desenvolvedora Java Júnior Full Stack</p>
                        <i class="fab fa-github-square fSocial mr-2 mb-5"></i>
                        <i class="fa fa-linkedin-square fSocial" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>